<header class="main-header" data-test-main-header>
  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>J</b>FM</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Jayamini</b>FMS</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">{{upcomingRenewalCount}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">{{upcomingRenewalCount}} upcoming renewals</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                {{#each upcomingRenewals as |renewal|}}
                  {{#if renewal.data.length}}
                    <li><!-- start message -->
                      <a href="#">
                        <div class="pull-left">
                          <!--<img src="/assets/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                        </div>
                        <h4>
                          {{renewal.name}}
                          <small>
                            <i class="fa fa-clock-o"></i>
                            {{display-date type='from-now' date=renewal.data.firstObject.expiryDate}}
                          </small>
                        </h4>
                        <!--<p>Why not buy a new awesome theme?</p>-->
                      </a>
                    </li>
                  {{/if}}
                {{/each}}
                <!-- end message -->
              </ul>
            </li>
            <li class="footer">{{#link-to 'renewals'}}See All Renewals{{/link-to}}</li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/assets/images/thilanka.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Thilanka Niroshana</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/assets/images/thilanka.jpg" class="img-circle" alt="User Image">

              <p>
                Thilanka Niroshana - Owner
                <small>User since Nov. 2015</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat" {{action 'logout'}}>Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
