<div class="wrapper">
  {{#if session.isAuthenticated}}
    {{main-header renewals=expiring}}
    {{main-sidebar}}

    <div class="content-wrapper">
      <section class="content-header" data-test-page-header>
        <h1>{{title}}<small>{{subTitle}}</small></h1>
      </section>
      <section class="content">
        {{outlet}}
      </section>
    </div>

    {{main-footer}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>
